<div class="invest_banner info">
	<div class="contents_wrap">
		<div class="t-c">
			<h1 class="fw-b fs-35">농작교님의 <span class="fc-skyblue">1</span>번째 UP!</h1>
			<h4 class="mt5">다함께 배추 농사</h4>
		</div>
	</div>
</div>
<div class="wrap sub_wrap">
	<div class="sub_full">
		<div class="sub_contents_bg">
			<p class="title_order">나의 UP!</p>
			<div class="qnalist_contents">
				<div class="reward_box info">
					<table>
						<colgroup>
							<col style="width:150px;">
							<col style="width:500px;">
						</colgroup>
						<tbody>
							<tr>
								<th>참여 프로젝트</th>
								<td>참여 프로젝트 이름</td>
								<td class="date">2017. 03. 01 ~ 2017. 03. 31</td>
							</tr>
							<tr>
								<th>선택리워드</th>
								<td class="reward"><span class="reward">리워드1.</span>깊은 단맛의 반디마을 유기농 배추밭 1평 ({{ vm.amount }}원)</td>
							</tr>
							<tr>
								<th>총 결제 금액</th>
								<td>
									{{ vm.amount }}원
								</td>
							</tr>
							<tr>
								<th>결제방식</th>
								<td>농작교페이</td>
								<td class="date fc-orange">
								</td>
							</tr>
							<tr>
								<th>배송지정보</th>
								<td class="name">홍길동</td>
								<td class="phoneN">010-1234-5678</td>
								<td class="adress">서울시 영등포구 국제금융로 10, Three IFC 18층</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!----qnalist_contents end---->
		</div>
		<!--sub_contents_bg end-->

		<div class="paymentBtn_area mt25" style="padding-bottom:60px;">
			<!-- <button class="pay_btn home" ng-click="vm.goHome();">홈으로</button> -->
			<button class="pay_btn home" ng-click="vm.sendSMS();">SMS 발송</button>
      <button class="pay_btn cancel" ng-click="vm.cancel();" ng-disabled="vm.isSubmitted || vm.isCanceled">
				<span ng-switch="vm.isSubmitted">
					<span ng-switch-when="true">처리 중</span>
					<span ng-switch-when="false">결제 취소</span>
				</span>
			</button>
		</div>
		<div class="web_main">
			<div class="invest_area" style="background-color:#f9f9f9;height:1250px;">
				<h2>농작교의 추천</h2>
				<div class="redBar"></div>
				<div class="card_Recommend">
					<img src="../images/nhcard.png" />
					<p>
						홍길동 고객님께서 지금 NH올원 파이카드로 <strong><span style="font-family:'Roboto';font-size:40px">35,150</span>원 이상</strong>추가 구매하시면<br>
						<strong>다음달 카드 혜택이 올라갑니다</strong><br>
					</p>
					<h2 style="margin:15px auto 0px;">"농작교의 다른 상품을 만나보세요."</h2>
					<img class="icon_down" src="../images/common/icon_down.png" />
				</div>
				<div class="invest_banners" style="height:auto;">
					<div class="invest_banner_center">
						<div class="invest_banner" style="margin-top:0px;">
							<div class="banner_box">
								<a href="#">
									<div class="banner_statement">
										<div class="banner_statement_imgbox">
											<img src="../images/main/tomato.png" />
										</div>
										<div class="progress">
											<div class="invest_progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
												&nbsp;
											</div>
											<div class="invest_progress_bg" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
												&nbsp;
											</div>
										</div>
										<div class="invest_info">
											<div class="invest_type">과일</div>
											<p class="mainTitle">미리 준비하는 겨울,
												<제주귤청> 만들기</p>
											<p class="subTitle">직접 키운 귤로 귤청을 만드는
												<제주귤청> 프로젝트를 소개합니다. 본 프로젝트는 제주도 서귀포시 대정읍 [여희농원]과 함께하는 체험 복합형 상품입니다. </p>
											<ul class="info_detail">
												<li>1,120,000<span class="less_70 font_noto_Reg">원</span></li>
												<li>46%<span class="less_70 font_noto_Reg">달성</span></li>
												<li>5일<span class="less_70 font_noto_Reg">남음</span></li>
											</ul>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="invest_banner" style="margin-top:0px;">
							<div class="banner_box">
								<a href="#">
									<div class="banner_statement">
										<div class="banner_statement_imgbox">
											<img src="../images/main/juice.png" />
										</div>
										<div class="progress">
											<div class="invest_progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
												&nbsp;
											</div>
											<div class="invest_progress_bg" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
												&nbsp;
											</div>
										</div>
										<div class="invest_info">
											<div class="invest_type">가공품</div>
											<p class="mainTitle">누구보다 빠르고, 남들과는 다른 쾌속배송</p>
											<p class="subTitle">초등학교 단짝친구 두 명이 마음을 모아 고향에서 직접 공수 받은 채소와 과일로 착즙 주스를 만듭니다. 한 명은 푸드 스타일리스트, 한 명은 배송 전문가!...</p>
											<ul class="info_detail">
												<li>1,600,000<span class="less_70 font_noto_Reg">원</span></li>
												<li>70%<span class="less_70 font_noto_Reg">달성</span></li>
												<li>12일<span class="less_70 font_noto_Reg">남음</span></li>
											</ul>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="invest_banner" style="margin-top:0px;">
							<div class="banner_box">
								<a href="#">
									<div class="banner_statement">
										<div class="banner_statement_imgbox">
											<img src="../images/main/tomato2.png" />
										</div>
										<div class="progress">
											<div class="invest_progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
												&nbsp;
											</div>
											<div class="invest_progress_bg" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
												&nbsp;
											</div>
										</div>
										<div class="invest_info">
											<div class="invest_type">과일</div>
											<p class="mainTitle">바흐를 듣고 자라 더욱 새빨간 유기농...</p>
											<p class="subTitle">신선함과 풍부한 영양소로 소문난 사천 토마토! 사천에서 자란 바흐 토마토입니다. 왜 바흐 토마토냐고요? 재배하는 농부님께서 클래식 매니아라 밭에 24시간...</p>
											<ul class="info_detail">
												<li>330,000<span class="less_70 font_noto_Reg">원</span></li>
												<li>11%<span class="less_70 font_noto_Reg">달성</span></li>
												<li>27일<span class="less_70 font_noto_Reg">남음</span></li>
											</ul>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div style="width:100%;clear:both;">
						<button type="button" class="more_all_btn" ui-sref="main">더 많은 프로젝트 보기</button>
					</div>
				</div>
			</div>
			<!--invest_area-end-->
		</div>
	</div>
	<!--sub_full end-->
</div>
<!--wrap-end-->
