<div class="">
	<div class="olley_funding_contents_bg">
		<div class="olley_funding_contents">
			<p>
				깊은 단맛의 유기농 배추
			</p>
			<h3>견우도 직녀군 까치마을 팜셰어링</h3>
			<div class="row funding_banner_area">
				<div class="col-md-7">
					<div class="funding_banner">
						<img src="images/sample_thumb.png" />
						<div class="etc_box">
							<div class="tag_box view fl">
								<span style="margin-bottom:10px;">견우도 직녀군 까치마을 지대본 농부님의 유기농 배추밭</span>
								<ul>
									<li>#농부</li>
									<li>#주말농장</li>
									<li>#배추</li>
								</ul>
							</div>
							<div class="share_box fr">
								<a class="ic_heart " projectId="1714">1명 관심</a>
								<a class="ic_share">공유하기</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="funding_banner_detail">
						<ul>
							<li class="banner_title">목표금액 {{ vm.product.amount }}원</li>
							<li class="banner_detail" style="margin-bottom:10px;"><span class="txt_more">{{ vm.product.current }}</span>원 달성</li>
							<div class="funding_progress_box">
								<div class="funding_progress_bg">
									<div class="funding_progress" role="progressbar" aria-valuenow="{{ vm.product.current / vm.product.amount * 100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ vm.product.current / vm.product.amount * 100 }}%;">
										&nbsp;
									</div>
								</div>
							</div>
							<!----funding_progress_box end-->
							<li class="banner_title">달성률</li>
							<li class="banner_detail"><span class="txt_more">{{ vm.product.current / vm.product.amount * 100 }}</span><span class="txt_small">%</span></li>
							<li class="banner_title">참여자</li>
							<li class="banner_detail"><span class="txt_more">1</span><span class="txt_small">명</span></li>
							<li class="banner_title">기간 : 2017.3.01 ~ 2017.03.31</li>
							<li class="banner_detail"><span class="txt_more">26일</span><span class="txt_small">남음</span></li>
						</ul>
					</div>
					<!--funding_banner_detail end-->
				</div>
				<!--col-md-5 end-->
			</div>
			<!--funding_banner_area end-->
		</div>
		<!----olley_funding_contents end-->
	</div>
	<!--olley_funding_contents_bg end-->

	<div class="point_banner_bg" style="">

	</div>

	<div class="invest_report_bg">
		<div class="invest_report_tap_line_bg">
			<div class="tab_demo invest_report_tap_bg">
				<div class="invest_report_tap">
					<ul>
						<li class="report_tabs olley_report_on" tab-id="tab1">
							<a href="javascript:;">스토리</a>
						</li>
						<li class="report_tabs" tab-id="tab1">
							<a href="">리워드</a>
						</li>
						<li class="report_tabs" tab-id="tab1">
							<a href="">새로운 소식</a>
						</li>
					</ul>
				</div>
			</div>
			<!--olley_qnalist_tap end -->
		</div>
		<div class="invest_report_pages">
			<div class="tab_content" id="tab1">

				<div class="report_tab_content">
					<div style="width:880px;float:left;">
						<div class="row scroll">
							<span id="report_tap1" class="invest_report_title report_tap_top_title" style="margin-top:10px;">프로젝트 스토리</span>
							<div class="border_box">
								<p>
									“까치마을 사람들에게 가장 중요한 것은 ’땅을 사랑하는 마음’ 입니다.”<br> 견우도 직녀군 까치마을에서 20년째 농사를 짓고 계신 지대본 농부님은 너털웃음을 지으면서 이야기했습니다.
								</p>
								<img src="images/main/man.png" / style="margin:10px auto 10px;">
								<p>
									까치마을은 밭농사를 짓기에 천혜의 조건을 가지고 있습니다.<br><br> 마을 뒤로 보이는 산은 까치마을의 보물입니다.<br> 소나무, 밤나무로 우거진 뒷산에서 시작되는 은하천이 실어다 나르는 각종 유기물들이<br>친환경 농법을 고집하는 까치마을 농민들에게 큰 힘이 됩니다. <br> 지대본 농부님의 유기농 배추를 알차게 해 주는 시원한 바람도 가져다줍니다.<br>
								</p>
								<img src="images/main/house.png" / style="margin:10px auto 5px;">
								<img src="images/main/cabbage_2.png" / style="margin:0px auto 10px;">
								<p>
									지대본 농부님의 유기농 배추를 가장 행복하게 즐기는 방법은 직접 재배 과정에 참여하시는 겁니다.<br> 리워드로 팜셰어링을 선택하시는 분들은 꼭 지대본 놈부님의 농장에서 진행하는 농번기 체험에 함께하시게 됩니다.<br><br> 직접 드실 배추를 좋은 사람과 함께 좋은 땅에서 얼마나 정성스럽게 만드는 것인지 체험하며<br> 도시에서는 느낄 수 없는 흙과, 바람과, 물을 느껴보세요.<br><br> 농작교의 크라우드펀딩 계약재배는 생산자와
									소비자 모두에게 공정한 과정을 선사합니다.<br><br> 단순히 시장에서 배추를 사는 것이 아닌, 나와 가족이 먹는 농산물의 깨끗함과 소중함을 직접 느껴보세요.
								</p>
							</div>
							<span class="invest_report_title">리워드</span>
							<div class="border_box">
								<div class="report_text_box">
									<img src="images/main/kimchi.png" / style="margin:0px auto 10px;">
									<p>
										리워드에는 봄동 겉절이와 맛있는 수육을 곁들인 파티 1회 참가하실수 있는 기회<br> 그리고 가족이 함께 하는 전통식 김장 체험<br> 그리고 직접 까치마을의 농부님들과 함께하실 수 있는 농가 숙박기회까지 제공합니다.<br><br> 이번 상품에서 김장 체험은 여름 김장이 되겠네요.<br> 양은 적지만 여름김장김치의 싱그러운 맛은 겨울김장과는 또 다른 맛이 있지요.<br><br> 주 재료인 배추 외의 다른 재료도 당연히 인근 지역의
										친환경 무농약 농산물들로 구성됩니다.<br> 지대본 농부님의 옆집 할머니가 정성스럽게 기른 태양초, 청갓, 쪽파 등 모든 것이 까치마을 인근에서 재배한 것을 사용합니다.<br><br> 생새우와 새우젓 굴 멸치액젓은 칠석포구 어시장에서 상등품으로 고르게 됩니다.<br><br> 나와 우리 아이가 먹을거라면 당연하겠지요.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tab_sidebar" id="SCROLL">
						<h2>리워드 LIST</h2>
						<ul class="list_cont">
							<a href="#" class="reward_order" ng-click="vm.order(0)">
								<li>
									<div class="reward_text">
										<h2><span>{{ vm.rewards[0] }}</span>원</h2>
										<p class="ic_person">모집 제한 없음</p>
										<p class="desc">
											깊은 단맛의 반디마을<br> 유기농 배추밭 1평(15포기 내외 예상)
										</p>
									</div>
									<div class="choice_btn">선택</div>
								</li>
							</a>
							<a href="#" class="reward_order" ng-click="vm.order(1)">
								<li>
									<div class="reward_text">
										<h2><span>{{ vm.rewards[1] }}</span>원</h2>
										<p class="ic_person">총 50평 모집</p>
										<p class="desc">
											깊은 단맛의 반디마을<br> 유기농 배추밭 2평(30포기 내외 예상)<br>
											<span class="fc-green">+ 봄동 수육 파티(2인)</span>
										</p>
									</div>
									<div class="choice_btn">선택</div>
								</li>
							</a>
							<a href="#" class="reward_order" ng-click="vm.order(2)">
								<li>
									<div class="reward_text">
										<h2><span>{{ vm.rewards[2] }}</span>원</h2>
										<p class="ic_person">총 50평 모집</p>
										<p class="desc">
											깊은 단맛의 반디마을<br> 유기농 배추밭 2평(30포기 내외)<br>
											<span class="fc-green">+ 봄동 수육 파티</span><br>
											<span class="fc-green">+ 농가 1박 숙박</span>
										</p>
									</div>
									<div class="choice_btn">선택</div>
								</li>
							</a>
							<a href="#" class="reward_order" ng-click="vm.order(3)">
								<li>
									<div class="reward_text">
										<h2><span>{{ vm.rewards[3] }}</span>원</h2>
										<p class="ic_person">총 50평 모집</p>
										<p class="desc">
											깊은 단맛의 반디마을<br> 유기농 배추밭 2평(30포기 내외)<br>
											<span class="fc-green">+ 봄동 수육 파티</span><br>
											<span class="fc-green">+ 농가 2박 숙박</span><br>
											<span class="fc-green">+ 4인가족 김장체험</span>
										</p>
									</div>
									<div class="choice_btn">선택</div>
								</li>
							</a>
						</ul>
					</div>
				</div>
			</div>
			<!--tab1 end-->
			<div class="tab_content" id="tab2" style="display: none;">
				<div class="report_tab_content">
					<div class="tab_content_detail">
						리워드
					</div>
				</div>
			</div>
			<!--tab2 end-->
			<div class="tab_content" id="tab3" style="display: none;">
				<div class="report_tab_content">
					<div class="tab_content_detail">
						새로운 소식
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.tab_demo li').click(function() {
					$('.report_tabs').removeClass('olley_report_on');
					$(this).addClass('olley_report_on');
					id = $(this).attr('tab-id');
					$('.tab_content').hide();
					$('#' + id).show();
				});
			});
		</script>
	</div>
	<!--invest_report_pages end-->
</div>
<!--sub_full end-->
<script>
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		slidesPerView: 'auto',
		centeredSlides: true,
		paginationClickable: true,
		spaceBetween: 10
	});
</script>

<!--
 <script>
      $( document ).ready( function() {
        var jbOffset = $( '.tab_sidebar' ).offset();
        $( window ).scroll( function() {
          if ( $( document ).scrollTop() > jbOffset.top ) {
            $( '.tab_sidebar' ).addClass( 'sidebarFixed' );
          }
          else {
            $( '.tab_sidebar' ).removeClass( 'sidebarFixed' );
          }
        });
      } );
    </script>
-->

<script>
	(function(global, $) {

		var $menu = $('.report_list li.m'),
			$contents = $('.scroll'),
			$doc = $('html, body');
		$(function() {
			$menu.on('click', 'a', function(e) {
				var $target = $(this).parent(),
					idx = $target.index(),
					section = $contents.eq(idx),
					offsetTop = section.offset().top;
				$doc.stop()
					.animate({
						scrollTop: offsetTop
					}, 1000);
				return false;
			});
		});
		// menu class 추가
		$(window).scroll(function() {
			var scltop = $(window).scrollTop();
			$.each($contents, function(idx, item) {
				var $target = $contents.eq(idx),
					i = $target.index(),
					targetTop = $target.offset().top;

				if (targetTop <= scltop) {
					$menu.removeClass('on');
					$menu.eq(idx).addClass('on');
				}
				if (!(0 <= scltop)) {
					$menu.removeClass('on');
				}
			})

		});
	}(window, window.jQuery));
</script>



</body>

</html>
